/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10 déc. 2015, 11:46:43
    Author     : cdi406
*/

body{
    background-image: url("../images/menuBG.png");
    background-color: #333333;
    font-family: Calibri, sans serif;
    color: white
}

a{
    text-decoration: none;
    color: white;
}

#horloge {
    background-color: rgba(80, 80, 80, 0.5);
    float: left;
    height: 29px;
    width: 80px;
    font-size: 20px;
    text-align: center;
    color: gold;
    padding-top: 3px;
}

#bienvenue {
    height: 26px;
    float: left;
    margin-left: 10px;
    padding-top: 5px;
}

#optionsSession {
    background-image: url("../images/options.png");
    background-repeat: no-repeat;
    background-position-x: 4px;
    background-position-y: 4px;
    float: right;
    height: 32px;
    width: 32px;
    z-index: 4;
}

#optionsSession:hover {
    background-image: url("../images/optionsACTIF.png");
    background-repeat: no-repeat;
    background-position-x: 4px;
    background-position-y: 4px;
    float: right;
    height: 32px;
    width: 32px;
    z-index: 4;
}
