body {
    background-image: url("../images/menuBG.png");
    font-family: Calibri;
    color: white;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

#tdStyle0 {
    background-color: rgba(50, 50, 50, 0.5);
    width: 600px;
}

#tdStyle0:hover {
    background-color: rgba(100, 100, 100, 0.5);
}

#tdStyle1 {
    background-color: rgba(80, 80, 80, 0.5);
    width: 600px;
}

#tdStyle1:hover {
    background-color: rgba(100, 100, 100, 0.5);
}

#textCourt {
    float: left;
    padding-top: 10px;
    padding-left: 10px;
}

#prix {
    margin-left: 350px;
    margin-top: 20px;
}

#photoProduit{
    height: 64px;
    float: left;
    border-radius: 15px;
    padding: 10px 10px 10px 10px;
}

.optionNav {
    background-color: coral;
    height: 78px;
    width: 120px;
    float: left;
    padding-top: 10px;
}

.optionNav:hover {
    background-color: black;
}

#optionNavBoisson {
    background-image: url("../images/boisson.png");
    background-repeat: no-repeat;
    background-color: lightskyblue;
    background-position-x: 25px;
    background-position-y: 10px;
    height: 78px;
    width: 120px;
    float: left;
    padding-top: 10px;
    margin-left: 2px;
}

#optionNavBoisson:hover {
    background-image: url("../images/boissonACTIF.png");
    background-color: black;    
    height: 78px;
    width: 120px;
    float: left;
    padding-top: 10px;
    margin-left: 2px;
}

#optionNavEntree {
    background-image: url("../images/entree.png");
    background-repeat: no-repeat;
    background-color: greenyellow;
    background-position-x: 25px;
    background-position-y: 10px;
    height: 78px;
    width: 120px;
    float: left;
    padding-top: 10px;
}

#optionNavEntree:hover {
    background-image: url("../images/entreeACTIF.png");
    background-color: black;
    height: 78px;
    width: 120px;
    float: left;
    padding-top: 10px;
}
    
#optionNavPlat {
    background-image: url("../images/plat.png");
    background-repeat: no-repeat;
        background-color: sandybrown;
    background-position-x: 25px;
    background-position-y: 10px;
    height: 78px;
    width: 120px;
    float: left;
    padding-top: 10px;
}

#optionNavPlat:hover {
    background-image: url("../images/platACTIF.png");
    background-color: black;
    height: 78px;
    width: 120px;
    float: left;
    padding-top: 10px;
}
    
#optionNavDessert {
    background-image: url("../images/dessert.png");
    background-repeat: no-repeat;
    background-color: orchid;
    background-position-x: 25px;
    background-position-y: 10px;
    height: 78px;
    width: 120px;
    float: left;
    padding-top: 10px;
}

#optionNavDessert:hover {
    background-image: url("../images/dessertACTIF.png");
    background-color: black;
    height: 78px;
    width: 120px;
    float: left;
    padding-top: 10px;
}
    
#optionNavFormule {
    background-image: url("../images/formule.png");
    background-repeat: no-repeat;
    background-color: gold;
    background-position-x: 25px;
    background-position-y: 10px;
    height: 78px;
    width: 116px;
    float: left;
    padding-top: 10px;
}

#optionNavFormule:hover {
    background-image: url("../images/formuleACTIF.png");
    background-color: black;
    height: 78px;
    width: 116px;
    float: left;
    padding-top: 10px;
}

#details {  
    float: right;
    margin-right: 30px;
    margin-top: -10px; 
}

#ajouter {
    float: right;
    margin-right: 30px;
    margin-top: -10px; 
}

#menuSession{
    height: 32px;
    width: 600px;
    left: 50%;
    position: fixed;
    margin: 0px 0px 0px -450px;
    z-index: 3;
}

#menuNavigation{
    height: 88px;
    background-color: black;
    width: 600px;
    left: 50%;
    position: fixed;
    margin: 32px 0px 0px -450px;
    z-index: 2;
}

#menuCarte{
    background-color: black;
    width: 600px;
    height: 100%;
    left: 50%;  
    position: fixed;
    margin: 120px 0px 0px -450px;
    z-index: 1;
}

#commande {
    background-color: rgba(0, 0, 0, 0.5);
    width: 300px;
    height: 100%;
    left: 50%;
    position: fixed;
    margin: 0px 0px 0px 152px;
    z-index: 1;
    padding: 5px 5px 5px 5px ;
}