body {
    background-image: url("../images/menuBG.png");
    font-family: Calibri;
    color: white;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

#textCourt {
    float: left;
    padding-top: 10px;
    padding-left: 10px;
}

#prix {
    margin-left: 350px;
    margin-top: 20px;
}

#photoProduit{
    height: 64px;
    float: left;
    border-radius: 15px;
    padding: 10px 10px 10px 10px;
}

#optionNavBoisson {
    background-image: url("../images/boisson.png");
    background-repeat: no-repeat;
    background-color: lightskyblue;
    background-position-x: 25px;
    background-position-y: 10px;
    height: 78px;
    width: 120px;
    float: left;
    padding-top: 10px;
}

#optionNavBoisson:hover {
    background-image: url("../images/boissonACTIF.png");
    background-color: black;    
    height: 78px;
    width: 120px;
    float: left;
    padding-top: 10px;
}

#optionNavEntree {
    background-image: url("../images/entree.png");
    background-repeat: no-repeat;
    background-color: greenyellow;
    background-position-x: 25px;
    background-position-y: 10px;
    height: 78px;
    width: 120px;
    float: left;
    padding-top: 10px;
}

#optionNavEntree:hover {
    background-image: url("../images/entreeACTIF.png");
    background-color: black;
    height: 78px;
    width: 120px;
    float: left;
    padding-top: 10px;
}

#optionNavPlat {
    background-image: url("../images/plat.png");
    background-repeat: no-repeat;
    background-color: sandybrown;
    background-position-x: 25px;
    background-position-y: 10px;
    height: 78px;
    width: 120px;
    float: left;
    padding-top: 10px;
}

#optionNavPlat:hover {
    background-image: url("../images/platACTIF.png");
    background-color: black;
    height: 78px;
    width: 120px;
    float: left;
    padding-top: 10px;
}

#optionNavDessert {
    background-image: url("../images/dessert.png");
    background-repeat: no-repeat;
    background-color: orchid;
    background-position-x: 25px;
    background-position-y: 10px;
    height: 78px;
    width: 120px;
    float: left;
    padding-top: 10px;
}

#optionNavDessert:hover {
    background-image: url("../images/dessertACTIF.png");
    background-color: black;
    height: 78px;
    width: 120px;
    float: left;
    padding-top: 10px;
}

#optionNavFormule {
    background-image: url("../images/formule.png");
    background-repeat: no-repeat;
    background-color: gold;
    background-position-x: 25px;
    background-position-y: 10px;
    height: 78px;
    width: 120px;
    float: left;
    padding-top: 10px;
}

#optionNavFormule:hover {
    background-image: url("../images/formuleACTIF.png");
    background-color: black;
    height: 78px;
    width: 120px;
    float: left;
    padding-top: 10px;
}

#details {  
    float: right;
    margin-right: 30px;
    margin-top: -10px; 
}

#ajouter {
    float: right;
    margin-right: 30px;
    margin-top: -10px; 
}

#menuSession{
    height: 32px;
    width: 600px;
    left: 50%;
    position: fixed;
    margin: 0px 0px 0px -450px;
    z-index: 3;
}

#menuNavigation{
    height: 88px;
    background-color: black;
    width: 600px;
    left: 50%;
    position: fixed;
    margin: 32px 0px 0px -450px;
    z-index: 2;
}

#menuCarte{
    background-color: black;
    width: 600px;
    height: 100%;
    left: 50%;  
    position: fixed;
    margin: 120px 0px 0px -450px;
    z-index: 1;
}

#commande {
    background-color: rgba(0, 0, 0, 0.5);
    width: 300px;
    height: 100%;
    left: 50%;
    position: fixed;
    margin: 0px 0px 0px 152px;
    z-index: 1;
    padding: 5px 5px 5px 5px ;
}

.accordion { 
    padding-top: 1px;
    width: 600px; 
    overflow: hidden; 
    background: #000;
}

/** Selection inactive **/
.accordion section{ float:left;	overflow:hidden; color:white; cursor:pointer; background: #333; margin-bottom: 1px;}
.accordion section:hover {background:#444;}
.accordion section p { display:none; }

/** Selection active **/
.accordion section:target { background: rgba(255,255,255, 0.1); padding:10px;}
.accordion section:target:hover { background:rgba(255,255,255, 0.12); }
.accordion section:target h2 {width:100%;}
.accordion section:target h2 a{ color: gold; padding:0;}
.accordion section:target p {display:block;}
.accordion section h2 a{padding:8px 10px;display:block; font-size:16px; font-weight:normal;color:#eee; text-decoration:none; }

/*Transition effects*/
.vertical section{ width:100%; height:40px;
                   -webkit-transition:height 0.2s ease-out;
                   -moz-transition:height 0.2s ease-out;
                   -o-transition:height 0.2s ease-out;
                   -ms-transition:height 0.2s ease-out;
                   transition:height 0.2s ease-out;
}

.vertical :target{ height:200px;  }
.vertical section h2 { position:relative; left:0; top:-15px; }
.vertical section:after{ top:-60px;left:810px;}
.vertical section:target:after{ left:-9999px;}
