<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Controller</servlet-name>
        <servlet-class>controller.Controller</servlet-class>
        <init-param>
            <param-name>login.acka</param-name>
            <param-value>subcontrollers.Login</param-value>
        </init-param>
        <init-param>
            <param-name>menu.acka</param-name>
            <param-value>subcontrollers.Menu</param-value>
        </init-param>
        <init-param>
            <param-name>session.acka</param-name>
            <param-value>subcontrollers.Session</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>Controller</servlet-name>
        <url-pattern>/Controller</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <ejb-local-ref>
        <ejb-ref-name>BeanLogin</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>sessionBeans.BeanLoginLocal</local>
        <ejb-link>montgallette-ejb.jar#BeanLogin</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>BeanMenu</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>sessionBeans.BeanMenuLocal</local>
        <ejb-link>montgallette-ejb.jar#BeanMenu</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>BeanSession</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <ejb-link>montgallette-ejb.jar#BeanSession</ejb-link>
    </ejb-local-ref>
</web-app>
