<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Controller</servlet-name>
        <servlet-class>controller.Controller</servlet-class>
        <init-param>
            <param-name>login.acka</param-name>
            <param-value>subcontrollers.Login</param-value>
        </init-param>
        <init-param>
            <param-name>menu.acka</param-name>
            <param-value>subcontrollers.Menu</param-value>
        </init-param>
        <init-param>
            <param-name>commande.acka</param-name>
            <param-value>subcontrollers.CommandeCTRL</param-value>
        </init-param>
        <init-param>
            <param-name>salle.acka</param-name>
            <param-value>subcontrollers.Salle</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>Controller</servlet-name>
        <url-pattern>/Controller</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <ejb-local-ref>
        <ejb-ref-name>BeanLogin</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>sessionBeans.BeanLoginLocal</local>
        <ejb-link>montgallette-ejb.jar#BeanLogin</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>BeanMenu</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>sessionBeans.BeanMenuLocal</local>
        <ejb-link>montgallette-ejb.jar#BeanMenu</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>BeanCommande</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>sessionBeans.BeanCommandeLocal</local>
        <ejb-link>montgallette-ejb.jar#BeanCommande</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>BeanMenu1</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>sessionBeans.BeanMenuLocal</local>
        <ejb-link>montgallette-ejb.jar#BeanMenu</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>BeanTablee</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>sessionBeans.BeanTableeLocal</local>
        <ejb-link>montgallette-ejb.jar#BeanTablee</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>BeanTablee1</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>sessionBeans.BeanTableeLocal</local>
        <ejb-link>montgallette-ejb.jar#BeanTablee</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>BeanEmplacement</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>sessionBeans.BeanEmplacementLocal</local>
        <ejb-link>montgallette-ejb.jar#BeanEmplacement</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>BeanEmplacement1</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>sessionBeans.BeanEmplacementLocal</local>
        <ejb-link>montgallette-ejb.jar#BeanEmplacement</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>BeanCommande1</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>sessionBeans.BeanCommandeLocal</local>
        <ejb-link>montgallette-ejb.jar#BeanCommande</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>BeanLigne</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>sessionBeans.BeanLigneLocal</local>
        <ejb-link>montgallette-ejb.jar#BeanLigne</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>BeanLigne1</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>sessionBeans.BeanLigneLocal</local>
        <ejb-link>montgallette-ejb.jar#BeanLigne</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>BeanCommande2</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>sessionBeans.BeanCommandeLocal</local>
        <ejb-link>montgallette-ejb.jar#BeanCommande</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>BeanMenu2</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>sessionBeans.BeanMenuLocal</local>
        <ejb-link>montgallette-ejb.jar#BeanMenu</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>BeanTablee2</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>sessionBeans.BeanTableeLocal</local>
        <ejb-link>montgallette-ejb.jar#BeanTablee</ejb-link>
    </ejb-local-ref>
</web-app>
